APP_NAME=eva-assistant-bot
APP_ENV=prod
LOG_LEVEL=INFO
TZ=Europe/Madrid

HOST=0.0.0.0
PORT=8000

POSTGRES_DB=eva
POSTGRES_USER=eva
POSTGRES_PASSWORD=6jFZsiPEasoExpkRUHAz
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://eva:6jFZsiPEasoExpkRUHAz@postgres:5432/eva

TELEGRAM_BOT_TOKEN=8690361219:AAH_NzS451bz85EmL9xBlVB-Y7_7OR-aGSk
TELEGRAM_BOT_USERNAME=eva_ai_assist_bot


FOCALBOARD_TOKEN=        # token del admin — se obtiene tras primer login
FOCALBOARD_TEAM_ID=      # visible en la URL: /team/{TEAM_ID}/
FOCALBOARD_BOARD_ID=     # visible en la URL: /board/{BOARD_ID}/
FOCALBOARD_HOST=focalboard.local