# CDK asset staging directory
.cdk.staging
cdk.out
.env
.env
node_modules/
cdk.out/
.env
lambda/email-config/smtp.env
*.js
!jest.config.js
*.d.ts
/ui-crm-core/
services/infra-prom/perm.env
services/infra-prom/perm.env
.claude/
services/infra-prom/perm.env
