# --- Configuración de Seguridad y Acceso ---
# Llave de autenticación para interactuar con la API del CRM
# uso: apps humanas / budibase
CRM_API_KEY="b852DfbkCdLQjsj0dVxw"

# Secreto utilizado para validar la ingesta de datos (Webhooks/Imports)
#  pipeline tecnico (lambda)
CRM_INGEST_SECRET="9gV4Zvun1BlWliMBfBQD"

# --- Configuración de Red y Rutas ---
# Prefijo de ruta para los servicios del sistema (Service Path)
CRM_BASE_PATH="/_svc"

# --- Configuración de Base de Datos (PostgreSQL) ---
# DSN de conexión. 
# IMPORTANTE: Para evitar errores "getColumns" en NocoDB, 
# asegura que las tablas tengan una Primary Key definida.
CRM_DB_DSN="postgresql://pgadmin2026f:l1W3YyXJUyqfSrkhdJMe@192.168.1.118:5432/postgres?sslmode=disable"