# GCP project bootstrap for sGTM analytics pipeline
PROJECT_ID=nt-serverside-analytics
REGION=europe-west1
BQ_LOCATION=EU

TOPIC=sgtm-events
SUB=sgtm-events-sub

DATASET_RAW=analytics_raw
TABLE_RAW=events_raw

SA_PUB=sa-analytics-gateway-publisher
DF_BUCKET=df-staging-nt-serverside-analytics

# infra-orbit host
ORBIT_IP=192.168.1.117
